.App { text-align: center; margin: auto; padding: auto; }

.App-logo { animation: App-logo-spin infinite 10s linear; height: 40px; }

@keyframes App-logo-spin {
  from	{ transform: rotate( 000deg ); }
  to	{ transform: rotate( 360deg ); }
}

.App-header {
  background-color: #808080; color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
